Options +FollowSymlinks
RewriteEngine On
RewriteBase /

# Redirect md files to parser
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !assets [NC]
RewriteRule ^(.+?)$ assets/page.php?f=$1 [QSA,L,NC]

# Index
DirectoryIndex assets/page.php

# 404
ErrorDocument 404 assets/template/404.html
