<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<meta name="description" content="{{ description }}">
	<meta name="keywords" content="{{ keywords }}">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
  	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic&subset=latin,latin-ext">
	<link rel="stylesheet" href="/assets/template/css/base.css">
	<link rel="stylesheet" href="/assets/template/css/skeleton.css">
	<link rel="stylesheet" href="/assets/template/css/layout.css">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/assets/template/images/favicon.ico">
	<link rel="apple-touch-icon" href="/assets/template/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/template/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/template/images/apple-touch-icon-114x114.png">

</head>
<body>

	<div class="container">

		<div class="three columns sidebar">

			<nav>

				<a href="/">
					<h1>FireSALE <small>Documentation</small></h1>
				</a>

				{{ navigation }}

			</nav>

			<br />

		</div>

		<div class="twelve columns offset-by-one content">

			<h1 class="404">
				404 - Page Not Found
			</h1>

		</div>

	</div>

</body>
</html>