/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

	p { text-align: justify; }
	.sidebar { display: block; }
	.sidebar nav h1 { font-size: 46.5px; line-height: 42px; text-shadow: 1px 1px 1px #fff; }
	.sidebar nav h1 small { padding: 0 0 0 1px; color: #f16022; line-height: 20px; display: block; text-transform: uppercase; font-size: 20px; }
	.sidebar nav h3 { font-size: 18px; font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; }
	.sidebar nav h3 a { color: #222; }
	.sidebar nav > ul { margin-bottom: 30px; }
	.sidebar nav > ul ul { margin: 10px 0 0 20px; }
	.sidebar nav ul li { display: block; line-height: 16px; }
	.sidebar nav ul li a.selected { font-weight: bold; }
	.sidebar nav ul li a, .sidebar nav ul li a:visited, .sidebar nav ul li a:active { font-size: 14px; text-decoration: none; font-family: "Helvetica Neue",Helvetica,Arial,Verdana,sans-serif; }
	.sidebar nav ul li a:hover, .sidebar nav ul li a:focus { color: #222; }
	aside.right { float: right; margin-top: -21px; }
	footer { margin: 30px 0 -10px 0; padding: 38px 0 0 0; border-top: 1px solid #f2f2f2; }
	.tinynav { display: none; }

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) {
		.content, .sidebar nav { margin: 48px 0; }
		html { height: 100%; padding-bottom: 1px; }
	}

	@media only screen and (min-width: 768px) and (max-width: 959px) {
		.sidebar nav h1 { font-size: 40px; line-height: 35px; }
		.sidebar nav h1 small { line-height: 16px; font-size: 16.5px; }
		.sidebar nav h3 { font-size: 16px; }
		.content img { width: 100%; height: auto; }
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		.content img { width: 100%; height: auto; }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		.tinynav { display: block; width: 100%; }
   		nav > ul { display: none; }
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		.tinynav { display: block; width: 100%; }
   		nav > ul { display: none; }
	}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/